@font-face {
    font-family: "Noto Sans JP";
    src: url(../fonts/NotoSansJP.otf);
}

*{
    font-family: "Noto Sans JP";
}

body{
    text-align: center;
}

#navbar{
    background-color: #7c09ff;
}

.label1{
    background: #c2edff;/*背景色*/
    padding: 0.25em;/*文字まわり（上下左右）の余白*/
    margin-left: 20%;
    margin-right: 20%;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.mg-1{
    margin-left: 20%;
    margin-right: 20%;
}

.mg-2{
	margin-left: 20%;
	margin-right: 20%;
}

.mg-3{
	margin-left: 10%;
	margin-right: 10%;
}

.text-orange{
    color: #FF641E;
}

.load-fade-50ms {
	opacity: 0;
	visibility: hidden;
	transition: all 1s;
}

.load-fade-50ms.is-show {
	opacity: 1;
	visibility: visible;
}

.load-fade-100ms {
	opacity: 0;
	visibility: hidden;
	transition: all 1s;
}

.load-fade-100ms.is-show {
	opacity: 1;
	visibility: visible;
}

.load-fade-150ms {
	opacity: 0;
	visibility: hidden;
	transition: all 1s;
}

.load-fade-150ms.is-show {
	opacity: 1;
	visibility: visible;
}

.load-fade-200ms {
	opacity: 0;
	visibility: hidden;
	transition: all 1s;
}

.load-fade-200ms.is-show {
	opacity: 1;
	visibility: visible;
}

.load-fade-250ms {
	opacity: 0;
	visibility: hidden;
	transition: all 1s;
}

.load-fade-250ms.is-show {
	opacity: 1;
	visibility: visible;
}

.anim-box.poyoyon3.is-animated {
	animation: poyoyon3 2.5s infinite;
	opacity: 1;
}

@keyframes poyoyon3 {

	0%,
	40% {
		transform: skew(0deg, 0deg);
	}

	5% {
		transform: skew(5deg, 5deg);
	}

	10% {
		transform: skew(-4deg, -4deg);
	}

	15% {
		transform: skew(3deg, 3deg);
	}

	20% {
		transform: skew(-2deg, -2deg);
	}

	25% {
		transform: skew(1deg, 1deg);
	}

	30% {
		transform: skew(-0.6deg, -0.6deg);
	}

	35% {
		transform: skew(0.3deg, 0.3deg);
	}
}

.scroll-up {
	opacity: 0;
	visibility: hidden;
	transform: translateY(50px);
	transition: all 1s;
}

.scroll-up.is-show {
	opacity: 1;
	visibility: visible;
	transform: translateY(0px);
}

.scroll-up2 {
	opacity: 0;
	visibility: hidden;
	transform: translateY(50px);
	transition: all 2s;
}

.scroll-up2.is-show {
	opacity: 1;
	visibility: visible;
	transform: translateY(0px);
}

.qa-004 dt,
.qa-004 dd {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 1em 2em 1em 3.1em;
    color: #333333;
}

.qa-004 dt {
    font-weight: 600;
}

.qa-004 dd + dt {
    margin-top: 1em;
}

.qa-004 dt::before,
.qa-004 dd::before {
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
    border-radius: 50%;
    color: #fff;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 40px;
    text-align: center;
}

.qa-004 dt::before {
    background-color: #75bbff;
    content: 'Q';
}

.qa-004 dd::before {
    background-color: #ff8d8d;
    content: 'A';
}

.background-design img{
	width: 100%;
}

#content{
	text-align: left;
	padding: 5vh;
}

#content-one{
	box-shadow: 0px 0px 15px 0px #4c00ff;
	border-radius: 0px;
	padding: 30px;
	margin-bottom: 8vh;
}

#content-two{
	box-shadow: 0px 0px 15px 0px #ff00e1;
	border-radius: 0px;
	padding: 30px;
	margin-bottom: 8vh;
}

#content-three{
	box-shadow: 0px 0px 15px 0px #ff0026;
	border-radius: 0px;
	padding: 30px;
	margin-bottom: 8vh;
}

.requests-box{
	background-color: black;
	padding: 10vh;
}
.requests-box p{
	color: white;
}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

a.btn--radius {
   border-radius: 100vh;
}